<%= button_to "ログアウト", logout_path, method: :delete %>
<h1>写真一覧</h1>
<%= link_to "写真をアップロード", new_photo_path %>
</br>
<% @photos.each do |photo| %>
  <div class="frame">
    <p><%= photo.title %></p>
    <%= image_tag photo.image %>
  </div>
<% end %>
